* {
    font-family: Trebuchet, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  background-color: #C5B9CD;
  border: 2px solid #F7CAC9;
}

body {
  background-color: #92A8D1;
}

/* Navigation Menu */
ul {
  border: 1px solid #555;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #DEC2CB;
  height: 100%
  position: fixed;
  overflow: auto;
}

p.round {
  margin: 100px;
  border: 2px solid red;
  border-radius: 8px;
}

.header-img {
  width: 100%;
  height: 320px;
  background: url('Banner.png');

  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left middle middle middle middle right';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
  padding: 10px;
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right';
  }
}
