* {
    font-family: Trebuchet, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  background-color: #C5B9CD;
  border: 2px solid #F7CAC9;
}

body {
  background-color: #92A8D1;
}

/* Navigation Menu */
ul {
  border: 1px solid #555;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #DEC2CB;
  height: 100%
  position: fixed;
  overflow: auto;
}

p.round {
  margin: 100px;
  border: 2px solid red;
  border-radius: 8px;
}

.header-img {
  width: 90%;
  height: 320px;
  background: url('Banner.png');

  background-size: cover;
  position: relative;
  left: 100px;
  background-repeat: no-repeat;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C5B9CD;
  overflow-x: hidden;
}

.sidenav a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: #F7CAC9;
  color: black;
}

.content {
  margin-left: 200px;
}
